.timer-block {
    background: #478E64;
}

.timer-block-wrap {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-block-time {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.timer-block-over {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.link-to-home-page {
    color: white;
    font-size: 15px;
    border-radius: 30px;
    padding: 10px;
}

.link-to-home-page:hover {
    background: gray;
}
.time-error-block {
    display: flex;
    align-items: center;
}

.error-list {
    font-size: 15px;
    color: #BB1919;
    line-height: 25px;
    margin-right: 50px;
}

@media (max-width: 1024px) {
    .timer-block-wrap {
        padding: 0px;
    }
    
    .link-to-home-page {
        font-weight: 500;
        font-size: 12px;
        line-height: 25px;
        color: #FFFFFF;
    }

    .timer-block-time {
        font-weight: 500;
        font-size: 8px;
        line-height: 25px;
        color: #FFFFFF;
    }

    .error-list {
        font-size: 8px;
        margin-right: 10px;
    }
}