.container {
    margin: 0 auto;
    max-width: 1200px;
}

.blog-header {
    margin: 100px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-align: center;
}

.blog-card {
    margin: 50px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-text {
    max-width: 743px;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
}

.blog-img {
    width: 406px;
    height: 230px;
}

@media (max-width: 1024px) {
    .blog-header {
        font-weight: 700;
        font-size: 21px;
        line-height: 25px;
        color: #000000;
        margin: 25px auto 15px;
    }
    
    .blog-card {
        margin: 0px;
        justify-content: start;
        align-items: start;
    }

    .blog-text {
        padding-right: 5px;
        font-weight: 500;
        font-size: 8px;
        line-height: 10px;
        color: #000000;
    }

    .blog-img {
        width: 180px;
        height: 150px;
    }
}