.question-block {
    background: #478E64;
    height: 100%;
    padding-bottom: 100px;
}

.container-for-test-window {
    background: #F1F1F1;
    margin: 0 100px;
    border-radius: 50px;
    padding: 60px;
}

.question-image-block {
    display: flex;
    justify-content: space-between;
}

.errors-count-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #BB1919;
    padding-top: 10px;
}

.question-block-title {
    padding: 20px 0 25px;
    display: flex;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
    margin-right: 20px;
    max-width: 370px;
}

.question-block-number {
    padding-right: 5px;
}

.question-block-image {
    max-width: 750px;
    max-height: 250px;
    margin-bottom: 40px;
}

.image-block {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.question-inputs {
    margin: 30px 0px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.question-inputs:hover {
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

.question-inputs input {
    background: #FFFFFF;
    margin-right: 12px;
}
.question-inputs.disabled {
    opacity: .5;
}
.question-inputs.disabled:hover {
    background: unset;
}


.question-inputs label {
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    color: black;
    width: 100%;
}

#answer-list {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 28px;
}

.check-answer {
    align-items: center;
    padding: 20px 50px;
    border-radius: 30px;
    width: max-content;
    margin: 0 auto 30px;
    color: white;
}

.question-btn-wrap {
    display: flex;
    justify-content: right;
}

.question-btn-next {
    display: inline-block;
    margin: 20px 0;
    text-align: right;
    padding: 10px 20px;
    background: #B1B1B1;
    border-radius: 20px;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.question-btn-next:disabled {
    opacity: .5;
}

.question-btn-next:hover {
    border: 1px solid white;
}

.question-btn-next:disabled:hover {
    border: unset;
}

#end-btn {
    display: none;
}

.testing-window-block {
    background: #2A9D8F;
}

.testing-window-header {
    padding: 10px 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
}

@media (max-width: 1024px) {
    .question-block {
        height: 100%;
    }

    .question-block-image {
        max-width: 350px;
        max-height: 250px;
        margin: 0 auto;
    }

    .container-for-test-window {
        background: #F1F1F1;
        margin: 0 auto;
        border-radius: 0;
        padding: 0 16px;
    }

    .question-image-block {
        display: block;
    }

    .image-block {
        width: 100%;
        height: 100%;
    }

    .errors-count-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 25px;
        color: #BB1919;
    }

    .question-block-header {
        padding: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 25px;
    }

    .question-block-title {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: black;
        margin: 0 auto;
    }

    .question-inputs {
        margin: 15px 0px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }

    .check-answer {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 10px 25px;

    }

    #answer-list {
        font-size: 12px;
        line-height: 20px;
    }

    .question-inputs label {
        font-size: 12px;
    }

    .question-btn-next {
        font-size: 12px;
        line-height: 15px;
    }
}